<plugin name='chai-locations' version='0.2.3-CHAI' grailsVersion='1.3.7 &gt; *'>
  <author>Eugene Munyaneza</author>
  <authorEmail>emunyaneza@clintonhealthaccess.org</authorEmail>
  <title>CHAI Locations Plugin</title>
  <description>CHAI locations plugin.
</description>
  <documentation>http://github.org/uginm102/grails-chai-locations</documentation>
  <type>ChaiLocationsGrailsPlugin</type>
  <resources>
    <resource>org.chai.location.CalculationLocation</resource>
    <resource>org.chai.location.DataLocation</resource>
    <resource>org.chai.location.DataLocationType</resource>
    <resource>org.chai.location.Location</resource>
    <resource>org.chai.location.LocationLevel</resource>
    <resource>org.chai.location.LanguageService</resource>
    <resource>org.chai.location.LocationService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='github' url='null' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='i18n-fields' version='0.6.1-CHAI' />
    </compile>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>