<plugin name='locations' version='0.2-CHAI' grailsVersion='2.1 &gt; *'>
  <author>Your name</author>
  <title>CHAI Locations Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/locations</documentation>
  <type>LocationsGrailsPlugin</type>
  <resources>
    <resource>org.chai.location.CalculationLocation</resource>
    <resource>org.chai.location.DataLocation</resource>
    <resource>org.chai.location.DataLocationType</resource>
    <resource>org.chai.location.Location</resource>
    <resource>org.chai.location.LocationLevel</resource>
    <resource>org.chai.location.LanguageService</resource>
    <resource>org.chai.location.LocationService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='i18n-fields' version='0.6.1-CHAI' />
    </compile>
  </plugins>
  <runtimePluginRequirements>
    <plugin name='i18n-fields' version='0.6.1-CHAI' />
    <plugin name='hibernate' version='2.1.0' />
  </runtimePluginRequirements>
  <behavior />
</plugin>