<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	'-//Hibernate/Hibernate Configuration DTD 3.0//EN'
	'http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd'>

<hibernate-configuration>

	<session-factory>	
		<mapping class="org.chai.kevin.location.CalculationLocation" />
		<mapping class="org.chai.kevin.location.DataLocation" />
		<mapping class="org.chai.kevin.location.DataLocationType" />
		<mapping class="org.chai.kevin.location.Location" />
		<mapping class="org.chai.kevin.location.LocationLevel" />
	</session-factory>

</hibernate-configuration>
